@{
    ViewData["Title"] = "Pepito Perez";
}

  <div id="chatcontainer">
            <div class="header">

                <div class="chat-title">

                    <div class="title-left">
                    </div>
                    <div class="title-center" >

                        <img src="~/img/shield.png"  />
                        <span class="team-title">.Net Team</span>

                    </div>

                    <div class="title-right">
                    </div>
                </div>

            </div>
            <div class="chat-body">

                <div class="reaction-left">
                    <img src="~/img/reaction.gif" class="stopped" />
                    <div>
                    </div>
                </div>
                

            </div>
            
            <div id="buttons-container">

                <input type="text" name="input-chat" class="input-chat" />

                <div class="button-reactions">
                    <div class="button-left">
                    </div>
                    <div class="button-center">
                        <img src="~/img/button-reactions.png" />
                    </div>
                    <div class="button-right">
                    </div>

                </div>

                <div class="button-text">
                    <div class="button-left">
                    </div>
                    <div class="button-center">
                        <img src="~/img/button-comments.png" />
                    </div>
                    <div class="button-right">
                    </div>
                </div>
            </div>
        </div>
